footer{
    background-color: #252525;
    padding: 20px 10px;
    color: #f1f1f1;
    font-family: Arial,sans-serif;

}
.contenupied{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.gauche{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.contactitem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.droite{
    text-align: right;
}
.nomsociete{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
    color: #f1f1f1;

}
.iconesociale{
    display: flex;
    gap: 10px;
}
.cercleicone{
    width: 40px;
    height: 40px;
    background-color: #25D366;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
}
.iconesociale .cercleicone{
    background-color: #0078ff;
    transition: transform 0.3s ease;
}
.iconesociale .cercleicone:hover{
    transform: scale(1.2);
}
@media(max-width:768px){
    .contenupied{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .gauche,.droite{
        text-align: center;
    }
}

